@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.font-family-nunito {
    font-family: 'Nunito', sans-serif;
}

* {
    background-color: "hsl(0, 0%, 96%)";
}

.cursor-pointer {
    cursor: pointer;
}

.font-8 {
    font-size: 8px
}

.font-10 {
    font-size: 10px
}

.font-12 {
    font-size: 12px
}

.font-14 {
    font-size: 14px
}

.font-16 {
    font-size: 16px
}

.font-18 {
    font-size: 18px
}

.font-20 {
    font-size: 20px
}

@media screen and (max-width: 600px) {
    .font-8-sm {
        font-size: 8px !important
    }

    .font-10-sm {
        font-size: 10px !important
    }

    .font-12-sm {
        font-size: 12px !important
    }

    .font-14-sm {
        font-size: 14px !important
    }

    .font-16-sm {
        font-size: 16px !important
    }

    .font-18-sm {
        font-size: 18px !important
    }

    .font-20-sm {
        font-size: 20px !important
    }
}